body{
	font-family:"Droid Sans", "Helvetica Neue", "Nimbus Sans L", sans-serif;
	font-size:100%;
}
ul.menu li{
	font-size:87.5%;
}
h1{
	font-size:80%;
}
p{
	font-size:80%;
}

#footer{
	font-size:100%;
}

#footer p{
	font-size:70%;
}
li.hide {
  display:none;
}
li.more-link{
  color: #FFFFFF;
  text-align: left;
  cursor:pointer;
}
