@font-face {
	font-family: 'social-icons';
	src:url('fonts/social-icons.eot?-epos6j');
	src:url('fonts/social-icons.eot?#iefix-epos6j') format('embedded-opentype'),
		url('fonts/social-icons.woff?-epos6j') format('woff'),
		url('fonts/social-icons.ttf?-epos6j') format('truetype'),
		url('fonts/social-icons.svg?-epos6j#social-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'social-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\f099";
}
.icon-facebook:before {
	content: "\f09a";
}
.icon-github:before {
	content: "\f09b";
}
.icon-linkedin:before {
	content: "\f0e1";
}
.icon-windows:before {
	content: "\f17a";
}
.icon-vk:before {
	content: "\f189";
}
.icon-google:before {
	content: "\f1a0";
}
.icon-books:before {
	content: "\e600";
}
